html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
address,
em,
img,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
i,
b,
s {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: Helvetica, Arial, sans-serif;
}

ul,
ol {
  list-style: none;
}
a img {
  border: none;
  vertical-align: top;
}
a {
  text-decoration: none;
}

button {
  overflow: visible;
  padding: 0;
  margin: 0;
  border: 0 none;
  background-color: transparent;
}
button::-moz-focus-inner {
  padding: 0;
}

textarea,
input {
  background: none;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
}
input[type='password'] {
  -webkit-text-security: disc;
}
textarea:focus,
input:focus,
button:focus {
  outline: none;
}
body {
  word-wrap: break-word;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.end-main {
    width: 100vw;
    height: 100vh;
    background-image: url('./assets/images/end/bg.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}
.end-logo {
    position: absolute;
    z-index: 2;
    right: 15px;
    top: 14px;
    background-image: url('./assets/images/end/end-logo.png');
    background-size: 100% 100%;
    width: 108px;
    height: 25px;
}
.end-figure {
    margin: 0 auto;
    background-image: url('./assets//images/end/figure.png');
    width: 352px;
    height: 188px;
    background-size: 100% 100%;
}
.end-mid {
}
.end-tit {
    font-size: 23px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding-bottom: 12px;
}
.end-list {
    width: 100vw;
    padding: 0 30px;
    box-sizing: border-box;
}
.end-item {
    display: flex;
    align-items: center;
}
.end-item-tit {
  color: #fff;
  font-weight: bold;
  font-size: 17px;
}
.end-item-txt {
  color: rgba(255, 255, 255, .5);
  font-size: 12px;
}
.end-item-l {
  flex: 1;
  min-width: 0;
}
.end-item-r {
  color: #fff;
  font-size: 19px;
  text-align: center;
  width: 24.8%;
  font-weight: bold;
}
.end-item {
  background-image: url('./assets/images/end/data-bg.png');
  width: 100%;
  height: 70px;
  background-size: 100% 100%;
  padding-left: 7%;
  padding-bottom: 8px;
  box-sizing: border-box;
}

.end-footer {
  display: flex;
  background-image: url('./assets/images/end/btn-group.png');
  background-size: 100% 100%;
  width: 322px;
  height: 89px;
  margin: 0 auto;
}
.end-btn-l {
  width: 60%;
  height: 89px;
}
.end-btn-m {
  width: 39%;
  height: 89px;
}